---
import Button from "./Button.astro";

interface Props {
    title: string;
    img: string;
    isOpenSource?: boolean;
    projectLink?: string;
    sourceCodeLink?: string;
    projectYear: string;
    tags: string[];

}

const {title, img, isOpenSource, projectLink, sourceCodeLink, projectYear, tags} = Astro.props
---

<article class="project-card">
    <div class="card">
        <div class="project-year">{projectYear}</div>
        <div>
            <h2>
                {title}
                {
                    isOpenSource && (
                        <a href={sourceCodeLink} class="open-source">Open Source</a>
                    )
                }
            </h2>

            <slot name="subtitle"/>
            <slot name="description"/>

            <div class="tags">
                {
                    tags.map((tag) => (
                        <img src={tag} alt={tag}>
                    ))
                }
            </div>

            <div class="buttons-links">
                {
                    projectLink && (
                        <Button href={projectLink}>
                            View Project
                            <svg
                                style="margin-left: 5px;"
                                stroke="currentColor"
                                fill="currentColor"
                                stroke-width="0"
                                viewBox="0 0 24 24"
                                height="1em"
                                width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <>
                                    <path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z" />
                                    <path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z" />
                                </>
                            </svg>
                        </Button>
                    )
                }
                {
                    sourceCodeLink && (
                        <Button href={sourceCodeLink}>
                            Source Code
                            <svg
                                style="margin-left: 5px;"
                                stroke="currentColor"
                                fill="currentColor"
                                stroke-width="0"
                                viewBox="0 0 24 24"
                                height="1em"
                                width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="m7.375 16.781 1.25-1.562L4.601 12l4.024-3.219-1.25-1.562-5 4a1 1 0 0 0 0 1.562l5 4zm9.25-9.562-1.25 1.562L19.399 12l-4.024 3.219 1.25 1.562 5-4a1 1 0 0 0 0-1.562l-5-4zm-1.649-4.003-4 18-1.953-.434 4-18z"
                                stroke="none"
                                />
                            </svg>
                        </Button>
                    )
                }
            </div>
        </div>
        <img src={img} alt={title} class="project-img">
    </div>
</article>

<style>
    .project-card {
        position: relative;
    }

    .project-card:nth-child(even) .card{
        flex-direction: row-reverse;
    }

    .card{
        display: flex;  
        gap: 1rem;
        background: rgba(255, 255, 255, 0.05);
        padding: 25px;
        border-radius: 10px;
        overflow: hidden;
        align-items: center;
        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }

    .project-year {
        position: absolute;
        left: -50px;
        top: 50px;
        transform: rotate(270deg);
        font-size: 20px;
        color: rgb(167, 173, 178);
    }

    h2{
        color: var(--blue-600);
        font-size: 30px;
        margin: 0 0 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .open-source {
        display: flex;
        gap: 1rem;
        font-size: 11px;
        color: rgb(0, 255, 208);
        border: 1px solid rgb(0, 255, 208);
        padding: 2px 12px;
        border-radius: 4px;
        margin-top: .1rem;
    }

    .tags {
        margin-bottom: 2rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }

    .tags img {
        width: 30px;
        height: 30px;
    }

    .buttons-links {
        margin-top: 2rem;
        color: blue;
    }

    .project-img {
        filter: drop-shadow(0 0 3rem rgba(21, 177, 255, .35));
        align-self: center;
        flex: 1;
        width: 500px;
        max-width: 100%;
        padding: 25px;
    }
    
    @media screen and (max-width: 1360px) {
        .project-year {
            font-size: var(--font-size-xl);
            left: -32px;
        }
    }

    @media screen and (max-width: 1205px) {
        .project-img {
            width: 350px;
            padding: 15px 0;
        }
    }

    @media screen and (max-width: 980px) {
        .project-card:nth-child(even) .card {
            flex-direction: column;
        }

        .card {
            gap: 1.5rem;
            margin: 0 -25px;
            border-radius: 0;
            flex-direction: column;
        }

        .project-img {
            max-width: 100%;
            align-self: flex-start;
            width: 500px;
        }

        .project-year {
            transform: rotate(0);
            top: 3px;
            left: unset;
            right: -20px;
        }
    }
</style>
